@model WEBCOREADS2021.Models.Dominio.Agricultor

@{
    ViewData["Title"] = "Remover Agricultor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Você deseja remover este Agricultor?</h3>
<div>
    <h4>Remover Agricultor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proprietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.municipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.municipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpf)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar Lista de Agricultores</a>
    </form>
</div>
