@model IEnumerable<WEBCOREADS2021.Models.Consulta.InsumoGrp>

@{
    ViewData["Title"] = "AgruparInsumosArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AgruparInsumosArea</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.agricultor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.agricultor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
